@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}


.flowchart-link {
  stroke-dasharray: 4, 4 !important;
  animation: flow 1s linear infinite;
  stroke-width: 2px !important;
}

@keyframes flow {
  from {
    stroke-dashoffset: 8;
  }
  to {
    stroke-dashoffset: 0;
  }
}


